.titre{
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  padding-left: 10%;
  color:orange
}

.CodeMirror-scroll{
  background-color: #1d1e22;
  color:#fff;


}
.react-codemirror2{
font-size: 1.8em;

}
.CodeMirror{
  min-height: 30rem;
}
